
@{
    ViewBag.Title = "AddAward";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

     <h2>Yeni Ödül Ekleme Sayfası</h2>

<form method="post">
    <br/>
    <label>Ödül Başlığı</label>
    <input type="text" class="form-control" name="Title"/>
    <br/>
    <label>Ödül Açıklaması</label>
    <input type="text" class="form-control" name="Description"/>
    <br/>
    <button class="btn btn-info">Ödül Ekle</button>
</form>

