@model List<MyPortfolio.Models.Service>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hizmet Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>Hizmet ID</th>
        <th>Hizmet Adı</th>
        <th>Hizmet Sil</th>
        <th>Hizmet Güncelle</th>
    </tr>
    @*@foreach(var item in Model)*@
</table>

