
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Templates/01/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Templates/01/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Templates/01/css/bootstrap.min.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Kadir Halı</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Siteye Git</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CV'mi İndir</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Gelen Mesajlar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Çıkış Yap</a>
                </li>
            </ul>
        </div>
    </nav>
 
    <!-- Style -->


    <link rel="stylesheet" href="~/Templates/01/css/style.css">

    <title>Portfolio Admin Paneli</title>

</head>
<body>

    <aside class="sidebar">
        <div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>
        <div class="side-inner">

            <div class="profile">
                <img src="/Templates/01/images/profile_photo.jpg" alt="Image" class="img-fluid">
                <h3 class="name">Kadir Halı</h3>
                <span class="country">Antalya, Turkey</span>
            </div>

            <div class="counter d-flex justify-content-center">
                <!-- <div class="row justify-content-center"> -->
                <div class="col">
                    <strong class="number">2 Years</strong>
                    <span class="number-label">Experience</span>
                </div>
                <div class="col">
                    <strong class="number">293</strong>
                    <span class="number-label">Contributions in the last year for Github</span>
                </div>
               
                <!-- </div> -->
            </div>

            <div class="nav-menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="/Education/Index/">Education</a></li>
                    <li><a href="/Skill/Index">Skills</a></li>
                    <li><a href="#">Experiences</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">CV</a></li>
                </ul>
            </div>
        </div>

    </aside>
    <main>
        <div class="site-section">
            <div class="container">
                <div class="row justify-content-center">

                    @RenderBody()

                </div>
            </div>
        </div>
    </main>



    <script src="~/Templates/01/js/jquery-3.3.1.min.js"></script>
    <script src="~/Templates/01/js/popper.min.js"></script>
    <script src="~/Templates/01/js/bootstrap.min.js"></script>
    <script src="~/Templates/01/js/main.js"></script>
</body>
</html>